@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Jersey+15&family=Kenia&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.didDLetter,
.frontendOLetter,
.developerPLetter,
.gardeningELetter,
.theyHLetter,
.skillsILetter {
  font-size: 80px;
  font-weight: 400;
  color: rgb(77, 199, 21);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Jersey 15", serif;
  background-color: blueviolet;
}

.didILetter,
.frontendELetter,
.developerVLetter,
.takeKLetter,
.gardeningGLetter,
.gardeningNTwoLetter,
.improvePLetter {
  font-size: 20px;
  font-weight: 700;
  color: #c72115;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ceviche One", sans-serif;
  background-color: #bae22b;
}

.didDTwoLetter,
.frontendFLetter,
.developerRLetter,
.becauseCLetter,
.wantedDLetter,
.theirILetter,
.question-mark {
  font-size: 70px;
  font-weight: normal;
  color: #1545c7;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Kenia", serif;
  background-color: rgb(226, 43, 43);
}

.theTLetter,
.developerLLetter,
.gardeningRLetter,
.becauseBLetter,
.wantedWLetter,
.rootOLetter {
  font-size: 100px;
  font-weight: 400;
  color: rgb(21, 199, 169);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(136, 126, 126);
}

.theHLetter,
.takeTLetter,
.developerETwoLetter,
.improveOLetter {
  font-size: 20px;
  font-weight: 700;
  color: rgb(219, 36, 255);
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.theELetter,
.developerDLetter,
.becauseSLetter,
.wantedNLetter,
.toTLetter,
.improveELetter,
.upPLetter {
  font-size: 40px;
  font-weight: bold;
  color: #a6c715;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(43, 32, 32);
}

.frontendRLetter,
.developerEThreeLetter,
.gardeningNLetter,
.toOLetter,
.improveILetter,
.theirHLetter,
.exclamation-mark,
.hyphen {
  font-size: 50px;
  font-weight: normal;
  color: #c7157d;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Bungee Inline", serif;
  background-color: #27493a;
}

.frontendNLetter,
.developerELetter,
.takeALetter,
.becauseELetter,
.skillsSLetter,
.skillsSTwoLetter {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Oi", serif;
  background-color: #de96ff;
}

.frontendTLetter,
.developerOLetter,
.gardeningDLetter,
.becauseULetter,
.wantedELetter,
.skillsLLetter {
  font-size: 80px;
  font-weight: 700;
  color: #88ffa2;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
  background-color: #2e0541;
}

.frontendNTwoLetter,
.takeELetter,
.becauseALetter,
.theyYLetter,
.gardeningGTwoLetter,
.improveRLetter,
.rootTLetter,
.theirELetter {
  font-size: 120px;
  font-weight: normal;
  color: #797e7a;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Kenia", serif;
  background-color: #2600ff;
}

.frontendDLetter,
.theyELetter,
.upULetter,
.becauseETwoLetter,
.wantedALetter,
.theirTLetter,
.rootRLetter {
  font-size: 20px;
  font-weight: 700;
  color: #a9ebff6e;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
  background-color: #633e0d;
}

.gardeningALetter,
.gardeningILetter,
.theyTLetter,
.wantedTLetter,
.improveVLetter,
.skillsKLetter {
  font-size: 50px;
  font-weight: 400;
  color: rgb(255, 174, 0);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Bungee Inline", serif;
  background-color: rgb(117, 255, 53);
}

.improveMLetter,
.theirRLetter,
.rootOTwoLetter,
.skillsLTwoLetter {
  font-size: 100px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
  background-color: rgb(0, 0, 0);
}
